.SongListWrapper {
    padding: 12px 10px;
    background-color: #809cce;
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
}

.SongList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: black white;
    scrollbar-width: thin;
    scrollbar-shadow-color: black;
}

.SongList::-webkit-scrollbar {
    width: 8px;
}

.SongList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

.SongList::-webkit-scrollbar-thumb {
    background: black; 
}
  
.SongList::-webkit-scrollbar-thumb:hover {
    background: black;
}

.SongListCard {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin: 2px 10px 2px 0;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    transition: background-color .4s;
}

.SongListCard:last-of-type {
    border: unset;
    padding-bottom: 0;
}

.SongListCard:hover, .SelectedSong {
    background-color: rgba(0,0,0,0.1);
}

.AlbumCover {
    width: 25%;
}

.SongListCard img {
    width: 100%;
    max-width: 120px;
    border-radius: 8px;
}

.SongListCard h3, .SongListCard p {
    margin: 0;
    text-align: left;
}

.SongListCard h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.SongListCard .TrackName {
    padding: 10px;
    font-style: italic;
    width: 75%;
}

@media screen and (max-width: 991px) {
    .SongListWrapper {
        width: 40%;   
    }
}

@media screen and (max-width: 768px) {
    .SongListWrapper {
        width: 100%;
        height: 500px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    .SongListCard h3 {
        font-size: 16px;
    }
}