.MusicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 55px 0;
    width: 70%;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.MusicPlayer h2 {
    margin: 0;
}

.MusicPlayer img {
    width: 300px;
    border-radius: 8px;
}

.MusicPlayer svg {
    cursor: pointer;
}

.MusicPlayer h3 {
    margin: 0;
    width: 55px;
}

.AudioControls {
    display: flex;
    align-items: center;
}

.AudioControls svg+svg{
    margin-left: 10px;
}

.AudioControls svg {
    font-size: 2.5em;
    opacity: 0.7;
    transition: opacity .3s;
}

svg.PlayButton, svg.PauseButton {
    font-size: 3.5em;
}

.AudioControls svg:hover {
    color: #2a5298;
    transition: color .2s;
    opacity: 1;
}

svg.RepeatOn, svg.ShuffleOn {
    opacity: 1;
    color: #2a5298;
}

.VolumeControl {
    display: flex;
    align-items: center;
}

.VolumeControl i {
    font-size: 22px;
    margin-right: 10px;
    width: 25px;
}

.Slider {
    -webkit-appearance: none;
    height: 4px;
    background: white;
    outline: unset;
    cursor: pointer;
    border-radius: 10px;
}

.Slider::-webkit-Slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}

.Slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: black;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.4);
    border: unset;
    transition: .2s;
}

.Slider::-webkit-Slider-thumb:hover{
    background-color: #2a5298;
}

.Slider::-moz-range-thumb:hover{
    background-color: #2a5298;
}